h1 {
    color: #FF5733; 
}
h1:hover {
    color: #E9967A; 
}

.contenedor-cartas {
    font-size: 0; 
    text-align: center; 
}

body {
    font-family: Arial, sans-serif; 
    margin: 20px; 
    padding: 0; 
    font-family: "Inconsolata", monospace;
    background-color: #1e1f34; 
    color: white; 
}


h2 {
    color: white; 
}
h2:hover {
    color: #6ef62f; 
}

h3:hover {
    color: #6ef62f; 
}

.carta {
    background-color: #fff; 
    width: 300px; 
    min-height: 300px;
    display: inline-block; 
    margin: 10px; 
    border: 2px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    vertical-align: top; 
    text-align: center; 
    color: black;
}

.carta img {
    width: 100%; 
    max-height: 200px; 
    object-fit: cover; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

.carta h3 {
    margin-top: 10px; 
    margin-bottom: 0; }

.carta p {
    margin-top: 0; 
    margin-bottom: 10px; 
}

.titulo-imagen {
    width: 100%; 
    height: 200px; 
}

h1 {
    color: #FF5733; 
    transition: color 0.3s ease; 
}
h1:hover {
    color: #E9967A; 
}

#form {
    background-color: #663399; 
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    border: 5px solid;
    border-image: linear-gradient(to right, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee);
    border-image-slice: 1; 
}

form {
    max-width: 400px;
    margin: 0 auto;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: calc(100% - 20px); 
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff; 
    margin-bottom: 10px; 
}

button[type="submit"] {
    width: 100%; 
    padding: 10px;
    background-color: #ff4500;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ff6347; 
}

#gift {
    display: none;
    background-color: #800080; 
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

select:focus,
input[type="text"]:focus {
    outline: none; 
}

#mensaje-llamativo {
    background-color: #991ff0; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    text-align: center; 
    margin-bottom: 20px; 
}

#mensaje-llamativo p {
    margin: 10px 0; 
}

#mensaje-llamativo span {
    font-size: 1.2em; 
    font-weight: bold; 
    color: #FF0000; 
}